<form class="mailSignup" action="https://stellar.us9.list-manage.com/subscribe/post?u=c001d97369b7a10d224c23867&amp;id=e1f435dc0a" method="post" name="mc-embedded-subscribe-form"  target="_blank" rel="noopener noreferrer" novalidate="">
  <span class="mailSignup__title">Get developer updates:</span>
  <input type="email" value="" name="EMAIL" class="mailSignup__input" style="border-radius: 3px; " placeholder="email address" required="">
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_c001d97369b7a10d224c23867_c77c979e43" tabindex="-1" value=""></div>
  <div class="mc-field-group input-group" style="display: none;">
    <ul><li><input type="checkbox" value="1" name="group[17489][1]" id="mce-group[17489]-17489-0"><label for="mce-group[17489]-17489-0">General List</label></li>
    <li><input type="checkbox" value="2" name="group[17489][2]" id="mce-group[17489]-17489-1" checked><label for="mce-group[17489]-17489-1">Developers</label></li>
    <li><input type="checkbox" value="4" name="group[17489][4]" id="mce-group[17489]-17489-2"><label for="mce-group[17489]-17489-2">Stellar Bitcoin Community</label></li>
    <li><input type="checkbox" value="8" name="group[17489][8]" id="mce-group[17489]-17489-3"><label for="mce-group[17489]-17489-3">Partnerships</label></li>
    <li><input type="checkbox" value="16" name="group[17489][16]" id="mce-group[17489]-17489-4"><label for="mce-group[17489]-17489-4">Volunteers</label></li>
  </ul>
  </div>
  <input type="submit" value="Sign up" name="subscribe" class="s-button mailSignup__submit spu-textUppercase">
</form>
