<div class="siteSidebar pageNavListBounder">
  <div class="mainSidebar">
    <ul class="pageNavList">
      {{#sidebarSubMenu "Get Started" numbered="true" }}
        {{>sidebarSubItems glob="guides/get-started/index.html"}}
        {{>sidebarSubItems glob="guides/get-started/!(index).html"}}
      {{/sidebarSubMenu}}


      {{#sidebarSubMenu "Become an Anchor" numbered="true" }}
        {{>sidebarSubItems glob="guides/anchor/index.html"}}
        {{>sidebarSubItems glob="guides/anchor/!(index).html"}}
      {{/sidebarSubMenu}}

      {{>sidebarSubMenu title="Concepts" glob="guides/concepts/*.html"}}

      {{>sidebarSubItems glob="guides/!(index|contributing|anchor|exchange).html"}}
      {{>sidebarSubItems glob="guides/contributing.html"}}
    </ul>
  </div>
</div>
