<div class="S-flexItem-share">
  <div class="so-siteHeader spu-padStart-30">
    {{> mainNavMenu }}
  </div>
  <div class="spu-padSE-30">
    <h1 class="mainSectionTitle">{{ title }}</h1>
  </div>
  <div class="S-flex-rowWrap spu-borderTop-1 spu-borderColor-light2">
    <s-read-md class="S-flexItem-share mainContent s-read-md--capped spu-padSE-30 spu-padTB-20 documentRead" link-process-md>
      {{{ contents }}}
      <br />
      <a href="{{repoBlobURL}}" class="spu-color-light1">Edit this doc in GitHub</a>
    </s-read-md>
