<div class="S-flexItem-share">
  <div class="so-siteHeader spu-padStart-30">
    <div class="so-siteHeader__emptyLogo"></div>
    <nav class="s-inlineList s-inlineList--wide so-siteHeader__navList so-siteHeader__simpleAlign">
      {{> mainNavMenu }}
    </nav>
  </div>
  <div class="spu-padSE-30">
    <h1 class="mainSectionTitle">
      {{ title }}
      {{#if projectTitle}}&nbsp;<span class="spu-color-neutral6">[{{ projectTitle }}]</span>{{/if}}
    </h1>
  </div>
  <div class="S-flex-rowWrap spu-borderTop-1 spu-borderColor-neutral7">
    <s-read-md class="S-flexItem-share mainContent s-read-md--capped spu-padSE-30 spu-padTB-20 documentRead" link-process-md>
      {{{ contents }}}
      <br />
      <a href="{{repoBlobURL}}" class="spu-color-neutral6">Edit this doc in GitHub</a>
    </s-read-md>
