<div class="so-back spu-borderTop-1 spu-borderColor-neutral7 spu-padTB-15">
  <div class="so-chunk">
    <div class="siteFooter">
      <div class="siteFooter__list">
        <a class="siteFooter__list__item" href="https://www.stellar.org/"><span class="graphic-backArrow-9"></span>&nbsp;&nbsp;Stellar.org</a>
        <span class="siteFooter__list__sep">|</span>
        <a class="siteFooter__list__item" href="https://www.stellar.org/bug-bounty-program/">Bug Bounty</a>
        <a class="siteFooter__list__item" href="{{pathPrefix}}/stellar-core/software/admin.html">Run a node</a>
        <a class="siteFooter__list__item" href="{{pathPrefix}}/guides/things-to-build.html">Build an app</a>
        <a class="siteFooter__list__item" href="https://github.com/stellar/">GitHub</a>
        <a class="siteFooter__list__item" href="http://slack.stellar.org/">Community chat</a>
      </div>
      <div class="siteFooter__list siteFooter__list--aux">
        <a class="siteFooter__list__item siteFooter__list__item--aux" href="https://www.stellar.org/terms-of-service/">Terms of service</a>
        <a class="siteFooter__list__item siteFooter__list__item--aux" href="https://www.stellar.org/privacy-policy/">Privacy policy</a>
      </div>
    </div>
  </div>
</div>
