<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!--

  Want to contribute to this site? Take a look at the GitHub repository for this
  site: https://github.com/stellar/developers

  -->
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="StellarOrg and contributors">

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />

  <link rel="stylesheet" href="{{ pathPrefix }}/{{ fingerprint.[styles/index.css] }}" />

</head>
<body>
