<div class="so-back">
  <div class="so-chunk">
    <div class="so-siteHeader">
      {{> siteLogo }}
        <nav class="s-inlineList s-inlineList--wide so-siteHeader__navList spu-padStart-30 so-siteHeader__simpleAlign">
          {{> mainNavMenu }}
        </nav>
    </div>
  </div>
</div>