<div class="so-siteHeader headerWithSidebar">
  <div class="headerWithSidebar__logo">
    {{> siteLogo }}
  </div>
  <div class="headerWithSidebar__nav">
    <nav class="s-inlineList s-inlineList--wide so-siteHeader__navList spu-padStart-30 so-siteHeader__simpleAlign">
      {{> mainNavMenu }}
    </nav>
  </div>
</div>
