<div class="header2016">
  <div class="header2016__logo header2016__logo--spaced">
    <div class="so-siteHeader">
      {{> siteLogo }}
    </div>
  </div>
  <nav class="header2016__nav mainNavMenu spu-padStart-30">
    {{> mainNavMenu }}
  </nav>
</div>
