<div class="headerWithSidebar">
  <div class="headerWithSidebar__logo">
    <div class="so-siteHeader">
      {{> siteLogo }}
    </div>
  </div>
    <nav class="headerWithSidebar__nav mainNavMenu spu-padStart-30">
      {{> mainNavMenu }}
    </nav>
</div>
