<div class="so-back">
  <div class="so-chunk">
    <div class="header2016">
      <div class="header2016__logo">
        <div class="so-siteHeader">
          {{> siteLogo }}
        </div>
      </div>
      <nav class="header2016__nav mainNavMenu spu-padStart-30">
        {{> mainNavMenu }}
      </nav>
    </div>
  </div>
</div>
