<span class="so-logo">
  <a href="https://www.stellar.org/" class="so-logo__main">Stellar</a><!--
  --><span class="so-logo__separator"> </span><!--
  --><a href="{{pathPrefix}}/" class="so-logo__subSite">developers</a>
</span>
