<div class="siteSidebar pageNavListBounder">
  <div class="mainSidebar">
    <ul class="pageNavList">
      <li class="pageNavList__item"><a href="{{pathPrefix}}/beyond-code/">Overview</a></li>
      {{>sidebarSubItems glob="beyond-code/!(index).html"}}
    </ul>
  </div>
</div>
