<div class="siteSidebar">
  <div class="so-siteHeader">
    {{> siteLogo  }}
  </div>
  <h2 class="mainSectionTitle">Beyond Code</h2>
  <div class="mainSidebar">
    <ul class="pageNavList">
      <li class="pageNavList__item"><a href="{{pathPrefix}}/beyond-code/">Overview</a></li>
      {{>sidebarSubItems glob="beyond-code/!(index).html"}}
    </ul>
  </div>
</div>
