<div class="siteSidebar">
  <div class="so-siteHeader">
    {{> siteLogo  }}
  </div>
  <h2 class="mainSectionTitle">Learn</h2>
  <div class="mainSidebar">
    <ul class="pageNavList">
      {{>sidebarSubMenu title="Get Started" glob="learn/get-started/*.html"}}

      {{>sidebarSubMenu title="Concepts" glob="learn/concepts/*.html"}}

      {{#sidebarSubMenu "Integration Guides"}}
        {{>sidebarSubMenu title="Building Blocks" glob="learn/integration-guides/building-blocks/*.html"}}
        {{>sidebarSubItems glob="learn/integration-guides/*.html"}}
      {{/sidebarSubMenu}}

      {{#sidebarSubMenu "JS Stellar"}}
        {{>sidebarSubItems glob="js-stellar-sdk/learn/index.html"}}
        {{>sidebarSubItems glob="js-stellar-base/learn/*.html"}}
        {{>sidebarSubItems glob="js-stellar-sdk/learn/!(index).html"}}
      {{/sidebarSubMenu}}

      {{#sidebarSubMenu "Interstellar"}}
        {{>sidebarSubItems glob="interstellar/learn/index.html"}}
        {{>sidebarSubItems glob="interstellar/learn/!(index).html"}}
      {{/sidebarSubMenu}}

      {{#sidebarSubMenu "Horizon"}}
        {{>sidebarSubItems glob="horizon/learn/*.html"}}
        {{>sidebarSubMenu title="Tutorials" glob="horizon/learn/tutorials/*.html"}}
      {{/sidebarSubMenu}}

      {{>sidebarSubMenu title="Stellar Core" glob="stellar-core/learn/*.html"}}
      {{>sidebarSubMenu title="Stellar Core" glob="stellar-core/learn/*.pdf"}}
    </ul>
  </div>
</div>
