<div class="siteSidebar pageNavListBounder">
  <div class="mainSidebar">
    <ul class="pageNavList">
      {{#sidebarSubMenu "Get Started"}}
        {{>sidebarSubItems glob="learn/get-started/index.html"}}
        {{>sidebarSubItems glob="learn/get-started/!(index).html"}}
      {{/sidebarSubMenu}}

      {{#sidebarSubMenu "Integration Guides"}}
        {{>sidebarSubMenu title="Building Blocks" glob="learn/integration-guides/building-blocks/*.html"}}
        {{>sidebarSubItems glob="learn/integration-guides/*.html"}}
      {{/sidebarSubMenu}}

      {{>sidebarSubMenu title="Concepts" glob="learn/concepts/*.html"}}
    </ul>
  </div>
</div>
