<div class="siteSidebar pageNavListBounder">
  <div class="mainSidebar">
    <ul class="pageNavList">
      {{>sidebarSubMenu title="Get Started" glob="learn/get-started/*.html"}}

      {{>sidebarSubMenu title="Concepts" glob="learn/concepts/*.html"}}

      {{#sidebarSubMenu "Integration Guides"}}
        {{>sidebarSubMenu title="Building Blocks" glob="learn/integration-guides/building-blocks/*.html"}}
        {{>sidebarSubItems glob="learn/integration-guides/*.html"}}
      {{/sidebarSubMenu}}

      {{#sidebarSubMenu "JS Stellar"}}
        {{>sidebarSubItems glob="js-stellar-sdk/learn/index.html"}}
        {{>sidebarSubItems glob="js-stellar-base/learn/*.html"}}
        {{>sidebarSubItems glob="js-stellar-sdk/learn/!(index).html"}}
        <li class="pageNavList__item"><a href="https://stellar.github.io/js-stellar-sdk/" target="_blank">API Reference <span class="icon-faSvg icon-faSvg--small icon-faSvg-external-neutral5"></span></a></a></li>
      {{/sidebarSubMenu}}

      {{#sidebarSubMenu "Horizon"}}
        {{>sidebarSubItems glob="horizon/learn/index.html"}}
        {{>sidebarSubItems glob="horizon/learn/!(index).html"}}
        <li class="pageNavList__item"><a href="/developers/reference/" target="_blank">API Reference</a></a></li>
        {{>sidebarSubMenu title="Tutorials" glob="horizon/learn/tutorials/*.html"}}
      {{/sidebarSubMenu}}

      {{#sidebarSubMenu "Stellar Core"}}
        {{>sidebarSubItems glob="stellar-core/learn/*.html"}}
        {{>sidebarSubItems glob="stellar-core/learn/*.pdf"}}
      {{/sidebarSubMenu}}
    </ul>
  </div>
</div>
