.language-switcher {
  background: #ccc;
  background: linear-gradient(0deg, #aaa, #ddd);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  color: #333;
  font-size: 0.75em;
  padding: 0.5em 1em;
  
  .code-example-title {
    margin-right: 2em;
  }
  
  .language-switcher--setter {
    border: 1px solid #aaa;
    border-radius: 1em;
    margin: 0 1em 0 0;
    padding: 0 0.65em;
  }
  
  .language-switcher--setter.selected {
    background: #aaa;
    background: linear-gradient(180deg, #999, #bbb);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) inset;
  }
}

