.header2016, .header2016Back {
  border-bottom: 1px solid $lightestGray;
  background-color: $white;
}
.header2016 {
  @include S-flex-row;
}
.header2016--centered {
  border-bottom: 0;
}
  .header2016__logo {
    @include S-flexItem-noFlex;
    @include S-flexItem-noFlex;
  }
    .header2016__logo--spaced {
      width: 288px;
      padding-left: 2em;
    }
  .header2016__nav {
    @include S-flexItem-share;
  }
