.mainNavMenu {
  @include S-flex-row;
  align-items: stretch;
}
  .mainNavMenu__item {
    margin-right: 3em;
    margin-top: 26px;
    color: $darkestGray;
    text-decoration: none;
  }
  .mainNavMenu__item:hover {
    color: $darkerPurple;
  }
  .mainNavMenu__item.is-currentItem {
    color: $purple;
    font-weight: 500;
    border-bottom: 2px solid $purple;
  }
