.math-formula {
  .math-formula-paren {
    font-weight: lighter;
    opacity: 0.25;
  }
  
  .math-formula-operator {
    opacity: 0.8;
  }
  
  var {
    border-bottom: 1px solid $s-color-neutral7;
    line-height: 1;
    white-space: nowrap;
  }
}

figure.math-formula {
  display: block;
  font-size: 1.5em;
  margin: 1em;
  text-align: center;

  .math-formula-paren {
    font-size: 1.5em;
    
    &.open {
      margin-right: 0.25em;
    }
    &.close {
      margin-left: 0.25em;
    }
  }
  
  .math-formula-operator {
    margin: 0 0.2em;
  }
}

code.math-formula {
  margin: 0 0.1em;
  padding: 0em 0.1em 0.1em;
}
