// Note Drop also provides SASS content we could use for more customization.
@import '../../node_modules/tether-drop/dist/css/drop-theme-arrows.min';

// Customized version of Drop's built-in 'drop-theme-arrows' theme
.drop-element.drop-theme-arrows {
  $background-color: whiten($s-color-neutral8, 50%);
  opacity: 0;

  &.drop-after-open {
    transition: opacity 0.25s;
    opacity: 1;
  }

  // Set the color of the "arrow" in the popover
  &.drop-element-attached-bottom.drop-element-attached-center .drop-content:before {
    border-top-color: $background-color;
  }
  &.drop-element-attached-top.drop-element-attached-center .drop-content:before {
    border-bottom-color: $background-color;
  }

  .drop-content {
    background: $background-color;
    max-width: 30em;
    filter:
      drop-shadow(0 0px 1px $s-color-neutral5)
      drop-shadow(0 1px 8px rgba(0, 0, 0, 0.2));

    p:last-child {
      margin-bottom: 0;
    }

    s-read-md {
      display: block;
    }
  }
}
