$black: #1E1E1E;
$lightestGray: #FAFAFA;
$gray: #CCCCCC;
$darkestGray: #4A4A49;
$white: #FFFFFF;
$darkerPurple: #6400cc;
$purple: #7D00FF;
$lightPurple: rgba(125, 0, 255, 0.32);
$lightestPurple: rgba(125, 0, 255,0.16);

.spu-color-neutral6.spu-color-neutral6 {
  color: $darkestGray;
}
