@import 'solar-css/lib/index';
@import 'solar-stellarorg/lib/index';
@import 'solar-stellarorg-pages/lib/index';

@import 'solar-css/styles/index';
@import 'solar-stellarorg/styles/index';
@import 'solar-stellarorg-pages/styles/index';

@import 'reskinColors';

@import 'popovers';
@import 'friendbot4';
@import 'mailSignup';
@import 'graphics';
@import 'icons';
@import 'backgrounds';
@import 'anchorShortcut';
@import 'footnotes';
@import 'codeExamples';
@import 'mathFormula';
@import 'descriptionList';

@import 'header2016';
@import 'mainNavMenu';
@import 'siteFooter';
@import 'collapsibleListSet';

@import 'pages/landing';

.S-flexItem-share {
  // this causes the boxes to actually create a layout context where their
  // width, as determined by the flexbox algorithm, is respected (otherwise
  // their content can force them wider (note this *doesn't* actually create
  // scrollbars. Just causes the flex width to actually be used as the width.)
  overflow: auto;
}

// site wide above the content, the title in the sidebar and above the body
.mainSectionTitle {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: $s-scale-2;
  color: $s-color-neutral2;
}
.mainSidebar {
  padding-top: 1.5em;
}
.mainContent {
  max-width: 900px;

  & > figure {
    margin: 1em 0;
  }
}

s-read-md.mainContent {
  max-width: none;
  min-width: 500px;

  @include r-media(3xl) {
    min-width: 1000px;
  }

  & > * {
    max-width: 804px;
    max-width: calc(900px - 6em);
  }

  & > figure,
  & > code-example,
  & > table,
  & > .codeBlock {
    max-width: none;
  }
}

// gray sidebar on full width pages
.siteSidebar {
  @include S-flexItem-noFlex;
  width: 288px;
  padding-left: 2em;
  background: $lightestGray;
  padding-bottom: 2em;
}

// syntaxHighlight (.codeBlock is added automatically by syntaxHighlight.js)
@import 'codemirror/theme/monokai';
.cm-s-monokai.CodeMirror {
  background: $s-color-neutral1;
}
.codeBlock {
  font-size: $s-scale-5;
  font-family: 'suisse-mono', monospace;
}

// Note this intentially affects non-highlighted "code blocks" as well
// (they don't get the `.codeBlock` class)
s-read-md pre {
  margin-bottom: 1em;
}


// API reference sidebar
// Due to a bug in sass, 1.5*$s-scale-4 does not work. Instead, we just do 18*1.5 + px = 27px
.endpointRef-exampleBar {
  display: none;
  padding: 2em 27px 0 27px;
}
.endpointRef-exampleBar.is-available {
  display: block;
  @include S-flexItem-full;
  // FIXME: should this flex problem from the above include be fixed in solar?
  flex: 12 0 auto;
}
@include r-media(3xl) {
  .endpointRef-exampleBar.is-available {
    @include S-flexItem-share;
  }
}
.endpointRef-exampleBar .codeBlock {
  margin-left: -27px;
  margin-right: -27px;
  padding-left: 27px;
  padding-right: 27px;
}
.endpointRef-exampleRequest:before, .endpointRef-exampleResponse:before {
  display: block;
  color: $s-color-neutral7;
  font-size: $s-scale-5;
}
.endpointRef-exampleRequest:before {
  content: 'Example Request';
}
.endpointRef-exampleResponse:before {
  content: 'Example Response';
}
.endpointRef-exampleResponse pre:last-of-type {
  margin-bottom: 0;
}

.pageNavListBounder {
  position: relative;
}
.pageNavList {
  list-style: none;
}
.pageNavList ul {
  padding-left: 1em;
  list-style: none;
  margin-bottom: 0.5em;
}
.pageNavList ul ul {
  padding-left: 1em;
}
.pageNavList > ul:first-child {
  margin-top: 0;
}
.pageNavList__title {
  font-weight: 700;
}
.pageNavList__item.is-currentItem {
  color: $purple;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -5em;
    background-color: rgba(125, 0, 255,0.08);
  }
}
.pageNavList__item a {
  display: block;
  line-height: 1.75;
  text-decoration: none;
}
.pageNavList__item:not(.is-currentItem) a:hover {
  color: $s-color-neutral2;
  text-decoration: underline;
}
.pageNavList__subList {
  margin-top: 0.5em;
}
.pageNavList > .pageNavList__subList:first-child {
  margin-top: 0;
}


// variable size flexible columns with different responsive options
.flexCols {
  @include S-flex-rowWrap;
}
  .flexCols__col {
    @include S-flexItem-full;
  }
  // in theory, one is supposed to use utilities to style the color
  .flexCols__col--borderBetween {
    border-bottom: 1px solid transparent;
  }
  .flexCols__col--borderBetween:last-child {
    border-bottom: none;
  }

@include r-media(l) {
  .flexCols--l {
  }
    .flexCols--l__col {
      @include S-flexItem-share;
    }
    .flexCols--l__col--borderBetween {
      border-bottom: none;
      border-right: 1px solid transparent;
    }
    .flexCols--l__col--borderBetween:last-child {
      border-right: none;
    }
}


.centerText {
  text-align: center;
}

.miniItems {
  @include S-flex-row;
  justify-content: space-around;
}
.miniItems__item {
  flex: 0 12 auto;
  width: 200px;
}

// Single row splitting into half
.halfSplit {
  display: block;
}
.halfSplit__half {
  width: 100%;
  border-bottom: 1px solid $s-color-neutral4;
  padding: 1em;
}
.halfSplit__half:last-child {
  border-bottom: none;
}
.halfSplit__divider {
  display: none;
}
@include r-media(l) {
  .halfSplit {
    @include S-flex-row;
    align-items: center;
    justify-content: space-around;
  }
  .halfSplit__half {
    @include S-flexItem-noFlex;
    border: none;
    padding: 0 1em;
    width: 50%;
    max-width: 400px;
  }
  .halfSplit__divider {
    flex: 0 0 auto;
    display: block;
    width: 1px;
    background: $s-color-neutral3;
    align-self: stretch;
  }
}

// solar stuff incubated here. Will be moved into solar when needed
.so-capTitle {
  text-transform: uppercase;
  font-size: $s-scale-5;
  margin-bottom: 0.5em;
}

// Testing
.linkCheck-emptyLink:after {
  position: absolute;
  content: '*';
  color: red;
}

// sequential navigation for multi-page docs (e.g. "get started")
.sequence-navigation {
  overflow: hidden;
  margin: 2em 0;
}

.button--previous {
  float: left;
}

.button--next {
  float: right;
}

// Page specific comes after
@import 'landing0616';


// Reskin
body {
  font-family: "suisse", sans-serif;
}

.so-logo {
  align-items: center;
}
.so-logo__main {
  margin: -12px 0 -7px;
  line-height: 0;
}
.so-logo__separator {
  height: 1em;
  border-color: $gray;
}

.hero {
  background-color: $lightestGray;
  color: $black;
}

.s-button.s-button {
  background-color: $purple;
  border-color: $purple;
  border-radius: 4rem;
  &:hover {
    background-color: $darkerPurple;
  }
}

s-read-md{
  code{
    background-color: $lightestPurple;
    outline-color: $lightestPurple;
  }

  a {
    color: $darkerPurple;
  }
}
