<div class="siteSidebar">
  <h2 class="mainSectionTitle">Tools</h2>
  <div class="mainSidebar">
    <ul class="pageNavList">
      <li class="pageNavList__item"><a href="https://www.stellar.org/laboratory/">Laboratory</a></li>
      <li class="pageNavList__item"><a href="https://www.stellar.org/account-viewer/">Account Viewer</a></li>
      <li class="pageNavList__item"><a href="https://bartekn.github.io/stellar-xdr-debugger/">XDR Viewer</a></li>
    </ul>
  </div>
</div>
