<div class="siteSidebar pageNavListBounder">
  <div class="mainSidebar">
    <ul class="pageNavList">

      {{#sidebarSubMenu "REST API" collapsible=true}}
        {{>sidebarSubItems glob="horizon/reference/index.html"}}
        {{>sidebarSubItems glob="horizon/reference/!(index).html"}}
        {{>sidebarSubMenu title="Tutorials" glob="horizon/reference/tutorials/*.html"}}
        {{>sidebarSubMenu title="Endpoints" glob="horizon/reference/endpoints/*.html"}}
        {{>sidebarSubMenu title="Resources" glob="horizon/reference/resources/*.html"}}
        {{>sidebarSubMenu title="Errors" glob="horizon/reference/errors/*.html"}}
      {{/sidebarSubMenu}}

      {{#sidebarSubMenu "JavaScript SDK" collapsible=true}}
        {{>sidebarSubItems glob="js-stellar-sdk/reference/index.html"}}
        {{>sidebarSubItems glob="js-stellar-base/reference/*.html"}}
        {{>sidebarSubItems glob="js-stellar-sdk/reference/!(index).html"}}
        <li class="pageNavList__item"><a href="https://stellar.github.io/js-stellar-sdk/" target="_blank" rel="noopener noreferrer">API Reference <span class="icon-faSvg icon-faSvg--small icon-faSvg-external-neutral5"></span></a></li>
      {{/sidebarSubMenu}}

      {{#sidebarSubMenu "Go SDK" collapsible=true}}
        {{>sidebarSubItems glob="go/reference/index.html"}}
        {{>sidebarSubItems glob="go/reference/!(index).html"}}
        <li class="pageNavList__item"><a href="https://godoc.org/github.com/stellar/go" target="_blank">Godoc <span class="icon-faSvg icon-faSvg--small icon-faSvg-external-neutral5"></span></a></li>
      {{/sidebarSubMenu}}

      {{! FIXME: these should be info pages rather than raw links to Github }}
      {{! e.g. >sidebarSubItems glob="java-stellar-sdk/guides/index.html"}}

      <li class="pageNavList__item"><a href="https://github.com/stellar/java-stellar-sdk" target="_blank" rel="noopener noreferrer">Java SDK <span class="icon-faSvg icon-faSvg--small icon-faSvg-external-neutral5"></span></a></a></li>

      {{#sidebarSubMenu "Community SDKs"}}
        <li class="pageNavList__item"><a href="https://github.com/StellarCN/py-stellar-base" target="_blank" rel="noopener noreferrer">Python SDK <span class="icon-faSvg icon-faSvg--small icon-faSvg-external-neutral5"></span></a></a></li>
        <li class="pageNavList__item"><a href="https://github.com/elucidsoft/dotnetcore-stellar-sdk" target="_blank" rel="noopener noreferrer">C# .NET Core 2.0 SDK <span class="icon-faSvg icon-faSvg--small icon-faSvg-external-neutral5"></span></a></a></li>
        <li class="pageNavList__item"><a href="https://github.com/bnogalm/StellarQtSDK" target="_blank" rel="noopener noreferrer">C++ SDK <span class="icon-faSvg icon-faSvg--small icon-faSvg-external-neutral5"></span></a></a></li>
        <li class="pageNavList__item"><a href="https://github.com/Synesso/scala-stellar-sdk" target="_blank" rel="noopener noreferrer">Scala SDK <span class="icon-faSvg icon-faSvg--small icon-faSvg-external-neutral5"></span></a></a></li>
        <li class="pageNavList__item"><a href="https://github.com/bloom-solutions/ruby-stellar-sdk" target="_blank" rel="noopener noreferrer">Ruby SDK <span class="icon-faSvg icon-faSvg--small icon-faSvg-external-neutral5"></span></a></a></li>
        <li class="pageNavList__item"><a href="https://github.com/Soneso/stellar-ios-mac-sdk" target="_blank" rel="noopener noreferrer">iOS & macOS <span class="icon-faSvg icon-faSvg--small icon-faSvg-external-neutral5"></span></a></a></li>
      {{/sidebarSubMenu}}

    </ul>
  </div>
</div>
