<div class="siteSidebar">
  <div class="mainSidebar">
    <ul class="pageNavList">

      {{>sidebarSubItems glob="horizon/reference/*.html"}}

      {{>sidebarSubMenu title="Resources" glob="horizon/reference/resources/*.html"}}
      {{>sidebarSubMenu title="Errors" glob="horizon/reference/errors/*.html"}}

    </ul>
  </div>
</div>
