<div class="siteSidebar pageNavListBounder">
  <div class="mainSidebar">
    <ul class="pageNavList">
      {{#sidebarSubMenu "Stellar Core"}}
        {{>sidebarSubItems glob="stellar-core/software/*.html"}}
        {{>sidebarSubItems glob="stellar-core/software/*.pdf"}}
      {{/sidebarSubMenu}}

      <li class="pageNavList__item"><a href="https://github.com/stellar/federation">Federation Server</a></li>
      <li class="pageNavList__item"><a href="https://github.com/stellar/bridge-server">Bridge Server</a></li>
      <li class="pageNavList__item"><a href="https://github.com/stellar/archivist">Archivist</a></li>
      <li class="pageNavList__item"><a href="https://github.com/stellar/horizon">Horizon</a></li>
    </ul>
  </div>
</div>
