{{> head }}

<div class="S-flex-row">
  {{> reference/sidebar }}
  {{> contentWrapperStart }}
    <s-read-md class="endpointRef-exampleBar spu-background-dark2 spu-color-light4 js-endpointRef-exampleBar">
      <nav class="s-navList js-endpointRef-menu"></nav>

      <div class="endpointRef-exampleRequest spu-padTop-20 js-endpointRef-exampleRequest"></div>
      <div class="endpointRef-exampleResponse spu-padTop-20 js-endpointRef-exampleResponse"></div>
    </s-read-md>
  {{> contentWrapperEnd }}
</div>

{{> footer }}
{{> foot }}
