---
title: Start Developing
---
{{> head}}

<div class="so-back">
  <div class="so-chunk">
    <div class="so-siteHeader">
      {{> siteLogo }}
        <nav class="s-inlineList s-inlineList--wide so-siteHeader__navList spu-padStart-30 so-siteHeader__simpleAlign">
          {{> mainNavMenu }}
        </nav>
    </div>
  </div>
</div>
<div class="so-back so-slantContainer background-nightBlue background-starsLayer spu-padTop-40 spu-padBottom-30">
  <div class="so-chunk spu-color-neutral9 spu-padBottom-20">
    <h2 class="landing-sectionTitle">Stellar Documentation</h2>
    <p class="spu-centerBlock spu-centerText spu-fontSize-3 landing-lead">
      <span class="spu-lineFullL">Make money move as easily as email.</span>
      <span class="spu-lineFullL">Develop a Stellar application or run a node on the network.</span>
    </p>
  </div>
  <div class="so-chunk">
    <div class="flexCols flexCols--l spu-padTB-20">
      <div class="flexCols__col flexCols--l__col spu-padTB-10 spu-padSE-30 centerText">
        <a href="{{pathPrefix}}/learn/" class="spu-textDecorationNone">
          <div class="spu-padBottom-15">
            <span class="graphic-circled-folder-120"></span>
          </div>
          <h3 class="spu-color-neutral9 spu-fontSize-3">Libraries and Tutorials</h3>
          <p class="spu-fontSize-5 spu-color-neutral6 spu-centerBlock landing-introItemDesc">Learn about developing with Stellar.</p>
        </a>
      </div>
      <div class="flexCols__col flexCols--l__col spu-padTB-10 spu-padSE-30 centerText">
        <a href="{{pathPrefix}}/reference/" class="spu-textDecorationNone">
          <div class="spu-padBottom-15">
            <span class="graphic-circled-horizon-120"></span>
          </div>
          <h3 class="spu-color-neutral9">Horizon</h3>
          <p class="spu-fontSize-5 spu-color-neutral6 spu-centerBlock landing-introItemDesc">Integrate with Stellar using the API server.</p>
        </a>
      </div>
      <div class="flexCols__col flexCols--l__col spu-padTB-10 spu-padSE-30 centerText">
        <a href="{{pathPrefix}}/learn/" class="spu-textDecorationNone">
          <div class="spu-padBottom-15">
            <span class="graphic-circled-code-120"></span>
          </div>
          <h3 class="spu-color-neutral9">Stellar Core</h3>
          <p class="spu-fontSize-5 spu-color-neutral6 spu-centerBlock landing-introItemDesc">Contribute to the ledger server or run a node</p>
        </a>
      </div>
    </div>
  </div>
  <div class="so-slant background-5B6A72"></div>
</div>

<div class="so-back so-slantContainer spu-padBottom-50 background-5B6A72">
  <div class="so-chunk spu-pad-20">
    <h2 class="landing-sectionTitle spu-color-neutral9 spu-padBottom-10">Quick Start: Test Account</h2>
    <div class="spu-background-neutral2 spu-radius spu-color-neutral8">
      {{> modules/friendbot4}}
    </div>
  </div>
  <div class="so-slant spu-background-primary8"></div>
</div>

<div class="so-back so-slantContainer spu-background-primary8">
  <div class="so-chunk spu-padTop-20 spu-padBottom-50">
    <h2 class="landing-sectionTitle spu-color-neutral3 spu-padBottom-20">App Spotlight</h2>
    <div class="landing-apps">
      <a href="https://github.com/TbLtzk/Centaurus" class="landing-appItem">
        <span class="landing-appItem__media graphic-centaurus-120"></span>
        <div class="landing-appItem__copy">
          <p class="landing-appItem__copy__title">Centaurus</p>
          <p class="landing-appItem__copy__description">
            Send and receive payments with a Stellar wallet for Android.
          </p>
        </div>
      </a>
      <div class="landing-appItem">
        <span class="landing-appItem__media graphic-app-stack-bill-140">
          <span class="landing-appItem__media__downArrow graphic-long-down-arrow-88"></span>
        </span>
        <div class="landing-appItem__copy">
          <a href="#check" class="landing-appItem__copy__title">Develop Your Own</a>
          <p class="landing-appItem__copy__description">
            Build tools to collect payments or send SMS alerts for transactions.
          </p>
        </div>
      </div>
    </div>
    <p class="spu-centerText">
      <a href="#check" class="s-button spu-textUppercase spu-padSE-30">Build Stellar Apps</a>
    </p>

  </div>
  <div class="so-slant spu-background-neutral9"></div>
</div>
<div class="so-back">
  <div class="so-chunk spu-padBottom-15 spu-maxWidth-40">
    {{> modules/dev-newsletter}}
  </div>
</div>

{{> foot}}
